@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  margin: 0px;
  background-color: #9bff6d80;
}

#mainBox {
  display: flex;
}

.leftBox {
  width: 65%;
  position: fixed;
  height: 100%;
}

.rightBox {
  width: 35%;
  position: fixed;
  right: 0;
  height: 100%;
  border-top-left-radius: 100px;
}

#logo {
  z-index: 1;
  height: 70px;
  margin: 25px;
}

.appName {
  margin-top: 15%;
  text-align: right;
  margin-right: 3%;
  font-size: 80px;
  font-family: "Rubik", sans-serif;
}

.appName span {
  color: #4391a5;
  font-size: 100px;
}

#HomePageImage {
  height: 500px;
  width: 400px;
  margin: -12% 5%;
}

#leftInner {
  margin-top: -5%;
  display: flex;
}
.description {
  margin: auto 20px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.inpForm {
  display: block;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px 40px;
  outline: none;
  border: solid 1.5px #4391a5;
  transition: 0.5s;
  border-radius: 40px;
  font-family: "Raleway", sans-serif;
  background-color: rgb(243, 243, 243);
}

#loginForm {
  margin: 30% 20%;
  padding: 5% 5%;
}

#formDiv {
  background-color: rgba(139, 139, 139, 0.322);
  margin-left: 5%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgb(112, 112, 112);
  font-family: "Raleway", sans-serif;
}

button {
  width: 150px;
  height: 45px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #4391a5;
  box-shadow: 1px 1px 10px #005c74;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  /* margin-bottom: 20%; */
}

.bottom_buttons {
  display: flex;
  /* background-color: tomato; */
  margin-left: -20%;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  /* margin-top: 100px; */
}

.link {
  margin-left: 48%;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
